<div class="row">
<div class="span12">{+new Link().toFile("index.html").withText("Class Index")+}
| {+new Link().toFile("files.html").withText("File Index")+}</div>
</div>
<div class="row">
<div class="span12">
<h2>Classes</h2>
</div>
</div>
<div class="row">
<div class="span12">
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
		if (thisClass.alias == "_global_") {
			output += "<i>"+new Link().toClass(thisClass.alias)+"</i>";
		}
		else {
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for>
</ul>
</div>
</div>
